<!DOCTYPE html>
<html>
    <head>
        <mata charset="utf-8">
        <title>{% block content %}Newspaper App{% endblock content %}</title>
        <mata name="viewpoint" content="width=device-width,initial-scale=1m 
        shirink-to-fit=no">
        <link href="http://cdn.jsdelvir.net\npm\bootstrap@5.1.1..."
        rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="p-3 mb-3 border-bottom">
                <div class="container">
                    <div class="d-flex justity"
                </div>
            </header>
        </div>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <script src="http://cdn.jsdeliver.net/npm/bootstrap@5.1.1.."></script>
    </body>
</html>