{% load static %}
<html>
<head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?
family=source+san+pro:400"
          rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Django blog</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">+ new Blog Post</a>
        </div>
    </header>
    {% if user.is_authenticated %}
    <p> hi {{ user.name }}!</p>
    <a href="{% url 'login' %}">logging in</a>
    <a href="{% url 'signup %'}">singing up</a>
    {% else %}
    <p>you are not logged in.</p>
    <a href="{% url 'login' %}">logging in</a>
    {% end if %}
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>